.idea
vendor
composer.lock

package-lock.json
node_modules

Tests/app/var
Tests/app/bundles
Tests/app/public/build
cypress/plugins
cypress/videos
cypress/screenshots
cypress/support

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###
